@tailwind base;
@tailwind components;
@tailwind utilities;
@media (max-width: 768px) {
  .svg-background {
    /* モバイルデバイスでのSVGサイズと位置の調整 */
    width: 100%; /* 画面幅に合わせて全幅表示 */
    height: auto; /* 高さは自動調整でアスペクト比を保持 */
    top: 0; /* 画面の上部から配置 */
    left: 0; /* 画面の左端から配置 */
  }
}
