<div class="pt-20 bg-green-100 min-h-screen !importan">
  <%= form_with(url: recipes_path, method: :get, local: true) do |form| %>
    <!-- カロリー入力フィールド -->
    <div class="w-full max-w-xs">
      <%= form.label :calories, '必要なカロリー量（一日分）', class: "block text-sm font-medium text-gray-700" %>
      <%= form.number_field :calories, min: 0, class: "mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
    </div>

    <!-- レシピ取得ボタン -->
    <div>
      <%= form.submit 'レシピを取得', class: "inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
    </div>
  <% end %>
</div>
