<div class="pt-10 mb-20 bg-teal-100 min-h-screen flex justify-center items-start">
  <% @translated_recipe %>
    <div class="card w-96 bg-white shadow-xl mt-10">
      <div class="card-body">
        <h1 class="card-title">あなたにおすすめのレシピはこちら！</h1>
        <p><%= @translated_recipe %></p>
      </div>
    </div>
</div>
