<div class="bg-gray-100 min-h-screen">
  <div class="max-w-lg mx-auto p-6">
    <ul class="steps steps-primary">
      <li class="step step-primary">目標</li>
      <li class="step step-primary">プロフィール</li>
      <li class="step step-primary">体重</li>
      <li class="step step-primary">活動量</li>
      <li class="step">アレルギー</li>
    </ul>
    <h1 class="text-2xl font-bold text-gray-800 text-center mb-6">活動レベル選択</h1>
    <%= form_with url: save_activity_level_users_path, local: true do |f| %>
      <div class="bg-white rounded-lg p-6 shadow-md">
        <div>
          <%= f.label :activity_level, "活動レベルは?", class:"text-gray-700 text-lg" %>
          <%= f.select :activity_level, [['低い', 'low'], ['適度', 'moderate'], ['高い', 'high']], {}, {class: "w-full rounded-md border-gray-300 text-lg"} %>
        </div>
        <div class="mt-8 text-center">
          <%= f.submit "次へ", class: "bg-indigo-600 text-white py-3 px-8 rounded-full text-lg hover:bg-indigo-500" %>
        </div>
      </div>
    <% end %>
  </div>
</div>