<footer class="fixed bottom-0 left-0 right-0 flex justify-between items-center h-20 bg-teal-300 shadow">

  <%= link_to dashboard_home_path, class: "btn bg-teal-300 flex flex-col items-center mr-2" do %>
  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
    <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z" />
  </svg>
  <span class="hidden sm:inline">Home</span>
  <% end %>
<<<<<<< HEAD

=======
>>>>>>> ed78a825c99c1c296dbdf219a5683a30e6b99e86
  <%= link_to dashboard_path, class: "btn bg-teal-300 flex flex-col items-center" do %>
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd" />
    </svg>
    <span class="hidden sm:inline">Dashboard</span>
  <% end %>
<<<<<<< HEAD

=======
>>>>>>> ed78a825c99c1c296dbdf219a5683a30e6b99e86
  <%= link_to recipe_suggestions_path, class: "btn bg-teal-300 flex flex-col items-center" do %>
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
      <path d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z" />
    </svg>
    <span class="hidden sm:inline">Recipes</span>
  <% end %>
<<<<<<< HEAD

=======
>>>>>>> ed78a825c99c1c296dbdf219a5683a30e6b99e86
  <%= link_to recipes_search_path, class: "btn bg-teal-300 flex flex-col items-center" do %>
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
    </svg>
    <span class="hidden sm:inline">Search</span>
  <% end %>
</footer>
