<div class="custom-footer">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <%= link_to 'ホーム', dashboard_home_path %>
      </div>
      <div class="col-3">
        <%= link_to 'ダッシュボード', dashboard_path %>
      </div>
      <div class="col-3">
        <%= link_to 'レシピ', recipe_suggestions_path %>
      </div>
      <div class="col-3">
        <%= link_to 'お気に入り', '#' %>
      </div>
    </div>
  </div>
</div>
