<div>
  <%= form.label attribute, t(label_key), class: "text-gray-700 text-lg" %>
  <%= form.text_field attribute, placeholder: t(placeholder_key), class: "w-full rounded-md border-gray-300 text-lg shadow-sm" %>
</div>
