<div class="modal-message">
  <h2>ログインフォーム</h2>
  <%= form_for(@resource, as: @resource_name, url: user_session_path) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
      <!-- その他のフォームフィールド -->
    </div>
  <% end %>
</div>
