<div class="stat">
  <div class="flex items-center">
    <i class="fas fa-<%= icon %> mr-2"></i>
    <div class="stat-title text-lg"><%= t(title_key) %></div>
  </div>
  <div class="stat-value text-2xl"><%= value.to_i.floor %> <%= t(unit_key, value: '') %></div>
  <div class="stat-desc"></div>
</div>