<div class="h-screen bg-cover bg-no-repeat" style="background-image: url('<%= asset_path('sample2.jpg') %>')">
  <h1 class="text-4xl">「Fat Recipe」は、食が細い、あるいは体質的に痩せ型の人々が 健康的な体重増加を目指し、標準体型、さらには細マッチョになるための サポートを行う食事特化型サービスです!</h1>
</div>