<!DOCTYPE html>
<html lang="en">
    <head>
        <%= stylesheet_link_tag "styles", "data-turbo-track": "reload" %>
        <%= stylesheet_link_tag "custom_styles", "data-turbo-track": "reload" %>
    </head>
    <body id="page-top">
        <header class="masthead d-flex align-items-center custom-header">
            <div class="container px-4 px-lg-5">
                <div class="d-flex justify-content-between align-items-center">
                    <!-- タイトル表示 -->
                    <div class="text-left">
                        <h1 class="mb-1">GainMate</h1>
                    </div>
                    <!-- ログインボタンの表示 -->
                    <div class="user-links">
                        <% if user_signed_in? %>
                            <!-- ここにはログインしている場合の処理を書かないので何も表示されません -->
                        <% else %>
                            <%= link_to 'ログイン', new_user_session_path, class: "btn btn-light" %>
                        <% end %>
                    </div>
                </div>
                <!-- 使ってみるボタンの表示 -->
                <%= link_to '使ってみる', body_info_users_path, class: "btn btn-light" %>
            </div>
        </header>
    </body>
</html>
