<div class="mx-7 md:mx-14 py-10">
  <h1 class="text-center text-xl md:text-3xl font-bold mb-6 border-b border-gray-500">プライバシーポリシー</h1>
  <div class="space-y-6 text-sm md:text-base">
    <div>
      <p>Fat Recipe（以下、「当方」といいます。）は，本ウェブサイト上で提供するサービス（以下、「本サービス」といいます。）における、お客様の個人情報の取扱いについて，以下のとおりプライバシーポリシーを定めます。</p>
    </div>
    <div>
      <p class="font-bold text-lg md:text-xl">お客様から取得する情報</p>
      <p>当方は、お客様から以下の情報を取得します。</p>
      <ul class="list-disc pl-6">
        <li>氏名（ニックネームやペンネームも含む）</li>
        <li>メールアドレス</li>
        <li>Cookie（クッキー）を用いて生成された識別情報</li>
      </ul>
    </div>
    <div>
      <p class="font-bold text-lg md:text-xl">お客様の情報を利用する目的</p>
      <p>当方は、お客様から取得した情報を、以下の目的のために利用します。</p>
      <ul class="list-disc pl-6">
        <li>本サービスに関する登録の受付、お客様の本人確認、認証のため</li>
        <li>お役様の本サービスの利用履歴を管理するため</li>
        <li>本サービスにおけるお客様の行動履歴を分析し、本サービスの維持改善に役立てるため</li>
        <li>本サービスに関するご案内をするため</li>
        <li>お客様からの問い合わせに対応するため</li>
        <li>当方の規約や法令に違反する行為に対応するため</li>
        <li>本サービスの変更、提供中止、終了、契約解除をご連絡するため</li>
        <li>当方規約の変更等を通知するため</li>
        <li>以下の他、本サービスの提供、維持、保護及び改善のため</li>
      </ul>
    </div>
    <div>
      <p class="font-bold text-lg md:text-xl">安全管理のために講じた措置</p>
      <p>当方がお客様から取得した情報に関して安全管理のために講じた措置につきましては、末尾記載のお問い合わせ先にご連絡をいただきましたら、法令の定めに従い個別にご回答させていただきます。</p>
    </div>
    <div>
      <p class="font-bold text-lg md:text-xl">第三者提供</p>
      <p>当方は、お客様から取得する情報のうち、個人データ（個人情報保護法第１６条第３項）に該当するものについては、あらかじめお客様からの同意を得ずに、第三者（日本国外にある者を含みます。）に提供しません。</p>
      <p>但し、次の場合は除きます。</p>
      <ul class="list-disc pl-6">
        <li>個人データの取り扱いを外部に委託する場合</li>
        <li>当方や本サービスが買収された場合</li>
        <li>事業パートナーと共同利用する場合（具体的な共同利用がある場合は、その内容を別途公表します。）</li>
        <li>その他、法律によって合法的に第三者提供が許されている場合</li>
      </ul>
    </div>
    <div>
      <p class="font-bold text-lg md:text-xl">アクセス解析ツール</p>
      <p>当方は、お客様のアクセス解析のために、「Googleアナリティクス」を利用しています。Googleアナリティクスは、トラフィックデータ収集のためにCookieを使用しています。トラフィックデータは匿名で収集されており、個人を特定する者ではありません。</p>
      <p>Cookieを無効にすれば、これらの情報の収集を拒否することができます。詳しくはお使いのブラウザ設定をご確認ください。Googleアナリティクスについては、こちらからご確認ください。</p>
    </div>
    <div>
      <p class="font-bold text-lg md:text-xl">プライバシーポリシーの変更</p>
      <p>当方は、必要に応じて、このプライバシーポリシーの内容を変更します。この場合、変更後のプライバシーポリシーの施行時期と内容を適切な方法により周知または通知します。</p>
    </div>
    <div>
      <p class="font-bold text-lg md:text-xl">お問い合わせ</p>
      <p>お客様の情報の開示、情報の訂正、利用停止、削除をご希望の方は、以下のメールアドレスにご連絡ください。</p>
      <p>公式Twitter（アカウント名）</p>
      <p>この場合、必ず、運転免許証のご提示等当方が指定する方法により、ご本人からのご請求であることの確認をさせていただきます。なお、情報の開示請求については、開示の有無に関わらず、ご申請時に一件当たり1,000円の事務手数料を申し受けます。</p>
    </div>
    <div>
      <p class="font-bold text-lg md:text-xl">事業者の氏名</p>
      <p>坂本公平</p>
    </div>
    <div>
      <p>2023年10月23日 制定</p>
    </div>
  </div>
</div>