<div class="mockup-phone">
  <div class="camera"></div>
  <div class="display">
    <%= image_tag 'example1.jpg', alt: 'Phone Screen', class: 'phone-screen-image' %>
  </div>
</div>
<div class="mockup-phone">
  <div class="camera"></div>
  <div class="display">
    <%= image_tag 'example2.jpg', alt: 'Phone Screen', class: 'phone-screen-image' %>
  </div>
</div>
<div class="mockup-phone">
  <div class="camera"></div>
  <div class="display">
    <%= image_tag 'example6.jpg', alt: 'Phone Screen', class: 'phone-screen-image' %>
  </div>
</div>
