body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

.choice-container {
  background-color: #00FFFF;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 400px;
    margin: 50px auto;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    background-color: #007BFF;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.header-title {
    font-size: 2em; /* fs-1に相当 */
    font-weight: bold; /* fw-boldに相当 */
    color: #ffc107; /* text-warningに相当 */
}
